@import "./theme.scss";

// SCSSファイル
.reveal.slide {
  .slides {
    font-size: 30px;

    section {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; // 上揃えにする
      align-items: center; // 中央揃えにする
      text-align: left; // テキストを左揃えにする
      padding-top: 15px; // 上部の余白を設定
      padding-bottom: 30px; // 下部の余白を設定
      height: auto !important; // 自動的に高さを調整

      section {
        padding-top: 0; // 上部の余白をリセット
        padding-bottom: 0; // 下部の余白をリセット
      }
      h1 {
        font-size: 1.1em;
        margin-top: 0; // 上部のマージンをリセット
        margin-bottom: 30px; // 下部のマージンを設定
        border-bottom: 4px solid $primary-color; // タイトルの下線を追加
        padding-bottom: 10px;
        text-transform: none;
      }

      h2 {
        font-size: 1.1em;
        text-transform: none;
      }

      h3 {
        font-size: 1.1em;
        text-transform: none;
      }

      p {
        font-size: 1em;
        img {
          margin-top: -20px;
        }
      }

      ul {
        padding-left: 0;

        li {
          font-size: 1.1em;
          margin: 1rem 0;
        }
      }
    }
  }
}
.reveal {

  .controls {
    color: $primary-color; // コントロールボタンの色を変更
    button {
      .controls-arrow {
      }
    }
  }

}